* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: rgb(231, 231, 252);
}

.wrapper {
    width: 1300px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: sans-serif;
    color: #3f72af;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #364f6b;
    background-color: rgb(231, 231, 252);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    font-weight: bold;
}
nav ul li a:hover{
    background-color:#3f72af;
    color: #FFFFFF;
}
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    padding-top: 50px;
}

.go_learn {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.go_learn .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #364f6b;
    padding: 25px;
    margin: auto;
}

h2 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: rgb(144, 204, 228);
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}
#contact {
    background: #3f72af;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background: #3f72af;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
    background: #3f72af;
    color: #f1f1f1;
    line-height: 2px;
    text-align: center;
}
.icon {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    width: 24%;
    text-align: center;
}
.tombol{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 5px;
    border-radius: 30%;
    box-sizing: 0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
    color: #2980b9;
}
.tombol i{
    transition: 0.2s linear;
    font-size: 26px;
    line-height: 90px;
}
.tombol:hover i{
    transform: scale(1.3);
    color: rgb(144, 204, 228);
}
.tombol::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
    background: #3498db;
}
.tombol:hover::before{
    left: -10%;
    top: -10%;
    animation: aaa 0.7s 1;
}
@keyframes aaa{
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        left: -10%;
        top: -10%;
    }
}
.h3 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(231, 231, 252);
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }
}